.group__delite{
  all: unset;
  cursor: pointer;
  width: 18px;
  height: 19px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.28px;
  position: absolute;
  left: 245.28px;
  right: 21.28px;
  top: 25.7px;
  bottom: 0;
}

.group__delite:hover{
  opacity: 0.6;
}
