.header__logo{
  width: 103.74px;
  height: 24.4px;
  padding-left: 27px;
  padding-bottom: 26px;
}

@media screen and (min-width: 1280px){
  .header__logo{
    width: 142px;
    height: 33px;
    padding-left: 0;
    padding-bottom: 37px;
  }
}
