.profile__avatar-edit-icon_active{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  background-image: url(../../../../images/editavatar.svg);
  background-size: cover;
}
