.profile__edit-button{
  width: 18px;
  height: 18px;
  background-color: #000000;
  border: 1px solid #FFFFFF;
  position: relative;
  cursor: pointer;
}

.profile__edit-button:hover{
  opacity: 0.6;
}

@media screen and (min-width: 1280px) {
  .profile__edit-button{
    width: 24px;
    height: 24px;
  }
}
